{% extends 'base.html' %}

{% block title %}
    CreateThread
{% endblock %}


{% block content%}
    <div class="row no-gutters border rounded overflow-hidden shadow-sm custom_bg_secondary">
        <div class="col p-4 d-flex flex-column">
            <h2 class="mb-0 text-center">Add new thread</h2>
            <form method="post" action="#">
                {% csrf_token %}
                <div class="form-group">
                    <label for="threadTitle" class="col-sm-2 col-form-label">Title</label>
                    <input class="form-control" type="text" name="title" id="threadTitle" maxlength="255" required>
                </div>
                <div class="form-group">
                    <label for="threadContent" class="col-sm-2 col-form-label">Content</label>
                    <textarea class="form-control" rows="5" cols="40" name="text" id="threadContent" maxlength="1024" required></textarea>
                </div>

                <button class="btn btn-primary" type="submit" value="submit" name="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}