{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row no-gutters  overflow-hidden flex-md-row mb-4 shadow-sm position-relative custom_bg_secondary">
        <div class="col p-4 d-flex flex-column position-static ">
            <form method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}